<h2>Uploaded Writings</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @writings.each do |writing| %>
      <tr>
        <td><%= writing.name %></td>
        <td><%= link_to "Review This", writing_path(writing) %></td>
        <td><%= button_to "Delete",  writing, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{writing.name}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to "New Writing", new_writing_path, class: "btn btn-primary" %>
<br />