<p id="notice"><%= notice %></p>

<h1>Comments on Paragraph #<%= @comments.first.commentable_id %>:</h1>

<h4><%= raw Paragraph.find(@comments.first.commentable_id).body  %></h4>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>


</table>

<br>
