<h3 class="text-center">New Comment on Paragraph #<%= @commentable.id %>:</h3>

<blockquote class="">
  <%= raw Paragraph.find(@commentable.id).body  %>
</blockquote>

<%= render 'form', comment: @comment %>

<%#= link_to 'Back', comments_path %>
