<!DOCTYPE html>
<html>
  <head>
    <title>Writersapp</title>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="container" style="padding-top:20px;">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
